<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Primjer_03.Properties.Settings.NorthwindConnection"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Software\NorhwindBase\nwind.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>